arrow==1.2.3
flake8==5.0.4
hexlet-code @ file:///C:/python-project-49/dist/hexlet_code-0.1.0-py3-none-any.whl
Jinja2==3.1.2
jinja2-time==0.2.0
make==0.1.6.post2
MarkupSafe==2.1.1
mccabe==0.7.0
prompt==0.4.1
pycodestyle==2.9.1
pyflakes==2.5.0
python-dateutil==2.8.2
six==1.16.0
